*{
  text-transform: uppercase;
  font-family: Helvetica;
  text-align: center;
}

header, nav{width:100%;}

ul{
  list-style: none;
  margin:0;
  padding:0;
  float:left;
  width:100%;
}



ul.subnav{
  height:0px;
  overflow:hidden;
}

li.is-expanded ul.subnav{
  height:236px;
}

ul.subnav li a{
  background:#e4e4e4;
}

li a{
  border-bottom: 1px solid #2e3034;
  margin:0;
  padding:20px 0;
  float:left;
  width:100%;
}

.l-half{
  width:50%;
  float:left;
  padding: 20px 0;
}

.grey{
  background:#2e3034;
  color:#fff;
}

.light-grey{
  background:#e4e4e4;
  color:#2e3034;
  outline:1px solid #2e3034;
}

nav{
  height:1px;
  overflow: hidden;
  width:100%;
  outline:1px solid #2e3034;
  -webkit-transition: height 1s;
}

nav.is-expanded{height:235px;}
nav.is-expanded.is-subnav-expanded{
  height:470px;
}